.CardHolder{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Card {
  width: 90%;
  height: 90%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 15px;
}

.comment {
  height: 100px;
  width: 300px;
}

.Delete {
  height: 20px;
  width: 40px;
}